/* CSS Document */
body{margin:0px;padding:0px;font-family:"微软雅黑","黑体";font-size:12px;}
*{margin:0px;padding:0px}
ol,ul,li,p,img,h1,h2,h3,h4,h5,h6{display:block;}
ol,ul,li{list-style:none;}
a{text-decoration:none;}
a:hover{text-decoration:none;}

.head{width:100%;height:45px;background-color:#000;}
.head-1{width:960px;height:45px;line-height:45px;margin:0 auto;}
.head-2{width:115px;height:45px;text-align:center;color:#ccc;font-size:12px;float:left;}
.head-1 img{float:left;margin-top:13px;}
.head-1 span{display:block;width:320px;height:45px;float:left;margin-left:210px;color:#ccc;text-align:center;}
.head-3{width:290px;height:45px;float:right;color:#fff;text-align:center;}

.nav{width:100%;height:82px;margin:0 auto;border-bottom:1px solid #d0d0d0;}
.nav-1{width:960px;height:82px;margin:0 auto;}
.nav img{float:left;margin:15px 0 0 5px;}
.nav-2{width:65px;height:82px;float:left;margin-left:20px;position:relative; cursor:pointer}
.nav-2 span{display:block;width:60px;height:19px;border:1px solid #f3f3f3;background-color:#f8f8f8;line-height:19px;margin-top:25px;}
.nav-2 span i{float:left;font-style:normal;margin-left:14px;color:#0079c1}
.nav-2 span img{float:left;margin:6px;}
.nav-2 font{color:#d9cfcc;display:block;text-align:center;margin-top:7px;}
.nav-3{width:705px;height:60px;float:right;padding-top:22px;}
.nav-3 ul{width:705px;height:42px;}
.nav-3 ul li{display:block;float:left;width:88px;height:30px;text-align:center;padding-top:12px;}
.nav-3 ul li a{display:block;width:88px;height:30px;text-align:center;color:#000;}
.nav-3 ul li a:hover{width:88px;height:30px;background-image:url(../images/nav.png);background-repeat:no-repeat;background-position:bottom;font-weight:bold;}
.address img{width:380px;height:593px;position:absolute;top:55px;left:0; z-index:9999;display:none}

.land{position:absolute;width:300px;height:365px;background:rgba(0,0,0,.5);top:160px;padding-top:35px;padding-left:25px;left:200px; z-index:999}
.land-1{width:280px;height:40px;color:#FFF;font-weight:bold;font-size:22px;}
.land span{display:block;width:280px;height:30px;font-size:12px;line-height:30px;color:#fff;}

.banner{width:100%;height:470px;border-bottom:1px solid #d0d0d0;position:relative}
.banner div{width:100%;height:470px;overflow:hidden;}
.banner div img{width:100%;height:470px;position:absolute;top:0;left:0}
.banner ul{
	position: absolute;
	right: 254px;
	top: 440px;
}
.banner ul li{margin-left:15px;width:15px;height:15px;background:#a6a6a6;float:left;list-style:none;display:block;cursor:pointer; border-radius:50%;border:1px solid #CCC}
.banner ul li.hover{background:#003f8f;}
.hover{background:#003f8f;}
.banner-1{width:960px;height:120px;margin:24px auto;}

.main{ width:960px; height:300px; margin:24px auto auto auto;}
.content6-l1{ width:230px; height:298px; float:left; border:1px solid #e9e9e9;}
.content6-l2{ width:230px; height:40px; border-bottom:1px solid #e9e9e9; background:#f8f8f8;}
.content6-l2 h3{ display:block; width:100px; height:40px; text-align:center; line-height:40px; font-size:12px; float:left; color:#333;}
.p12{ display:block; width:46px; height:40px; float:right; text-align:center; line-height:40px; color:#ccc;}
.ul7{ padding-left:18px; padding-top:12px; color:#666666;}
.ul7 li{ line-height:30px; background:url(../images/xfk3.png) no-repeat; padding-left:9px; background-position:left center;}
.table{ width:405px; height:298px; float:left; border:1px solid #e9e9e9; text-align:center; color:#333;}
.first{ height:40px; border-bottom:1px solid #e9e9e9;}
.other-h{ height:42px; border-bottom:1px solid #e9e9e9; border-right:1px solid #e9e9e9;}
.last{ border-right:1px solid #e9e9e9;}
.main-r{ width:278px; height:298px; float:right; border:1px solid #e9e9e9;}
.main-r1{ width:278px; height:40px; border-bottom:1px solid #e9e9e9; background:#f8f8f8;}
.main-r1 h3{ display:block; width:84px; height:40px; line-height:40px; font-size:12px; color:#333; float:left; text-align:center;}
.p1{ width:46px; height:40px; line-height:40px; text-align:center; float:right; color:#ccc;}
.main-r2{ width:278px; height:257px;}
.main1{ width:960px; height:636px;margin:19px auto auto auto}
.main1-l{ width:660px; height:634px; border:1px solid #e9e9e9; float:left;}
.main1-l1{ width:660px; height:40px; border-bottom:1px solid #e9e9e9; background:#f8f8f8;}
.main1-l1 h3{ width:98px; height:40px; float:left; display:block; color:#333; font-size:12px; text-align:center; line-height:40px;}
.p2{ display:block; float:right; width:106px; height:40px; text-align:center; line-height:40px; color:#cccccc;}
.main1-l2{ width:637px; height:286px; padding-left:23px; padding-top:10px;}
.main1-l3{ width:630px; height:285px;margin:0 auto;}
.main1-l4{ width:530px; height:37px; color:#666; padding-left:100px;}
.table1{ width:630px; height:285px; border:1px solid #dddddd; border-bottom:none;}
.bg{ background:#f5f5f5;}
.c{ text-align:center; color:#006ec2; font-weight:bold;}
.line-l{ width:67px; height:44px; border-bottom:1px solid #dddddd; border-right:1px solid #dddddd; padding-left:46px; background:#f5f5f5; color:#444555; font-weight:900;}
.line-c{ width:185px; height:44px; border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding-left:16px;}

.main1-r{ width:282px; height:602px; float:right;}
.main1-r1{ width:280px; height:263px; border:1px solid #e9e9e9;}
.content4-1{ width:280px; height:40px; border-bottom:1px solid #eeeeee; background:#f8f8f8;}
.p10{ display:block; width:100px; height:40px; line-height:40px; text-align:center; float:left; font-weight:bold; color:#333;}
.content4-2{ width:280px; height:245px;}
.p7{ display:block; width:200px; float:right; color:#00457c; font-weight:bold; letter-spacing:1px; margin-top:6px;}
.ul3{ line-height:22px; color:#999999; display:block; float:right; width:207px;}
.ul5{ padding-top:15px;}
.ul5 li{ color:#333; line-height:24px; padding-left:10px;}
.main1-r2{ width:278px; height:315px; border:1px solid #e9e9e9; margin-top:20px;}
.main1-r3{ width:278px; height:40px; border-bottom:1px solid #e9e9e9; background:#f8f8f8;}
.main1-r3 h3{ display:block; width:140px; height:40px; text-align:center; line-height:40px; font-size:12px; float:left; color:#333;}
.p3{ display:block; width:72px; height:40px; text-align:center; line-height:40px; float:right; color:#ccc;}
.main1-r4{ width:278px; height:274px;}
.ul1{ padding-left:18px; padding-top:5px;}
.ul1 li{ line-height:24px; color:#999999; background:url(../images/xfk3.png) no-repeat; background-position:left center; padding-left:9px;}

.content7{ width:958px; height:147px; margin:0 auto; border:1px solid #eee; margin-top:34px;}
.content7-1{ width:958px; height:40px; background:#f8f8f8; border-bottom:1px solid #eee;}
.content7-1 h3{ display:block; width:76px; height:40px; text-align:center; line-height:40px; color:#333; float:left; font-size:12px;}
.content7-2{ width:949px; height:92px; padding-left:9px; margin-top:5px;}
.content7-3{ width:135px; height:92px; float:left;}
.icon1{ display:block; width:42px; height:92px; float:left;}
.img1{ display:block; width:42px; height:46px;}
.img2{ display:block; width:42px; height:46px;}
.icon2{ display:block; width:93px; height:92px; float:left;}
.p14{ display:block; width:87px; height:46px; line-height:46px; padding-left:7px;}

.content8{ width:958px; height:133px; border:1px solid #eee; margin:0 auto; margin-top:22px;}
.content8-1{ width:958px; height:40px; border-bottom:1px solid #eee; background:#f8f8f8;}
.content8-1 h3{ display:block; width:100px; height:40px; float:left; text-align:center; line-height:40px; font-size:12px; color:#333;}
.content8-2{ width:948px; height:93px; padding-left:10px;}
.content8-3{ width:134px; height:93px; float:left;}
.ul10{ color:#999999; line-height:24px; padding-left:14px; padding-top:16px;}

.content9{ width:958px; height:109px; margin:0 auto; border:1px solid #eee; margin-top:22px;}
.content9-1{ width:958px; height:40px; border-bottom:1px solid #eee; background:#f8f8f8;}
.content9-1 h3{ width:124px; height:40px; text-align:center; line-height:40px; font-size:12px; color:#333; float:left;}
.content9-2{ width:958px; height:69px;}
.content9-3{ width:134px; height:69px; float:left; color:#999;}
.ul11{ line-height:24px; padding-top:16px; padding-left:14px;}

.footer{ width:100%; height:270px; background:#f5f5f5; border-top:1px solid #d0d0d0; margin-top:40px;}
.footer-in{ width:960px; height:270px; margin:0 auto;}
.footer1{ width:960px; height:26px; border-bottom:1px solid #d9d9d9;}
.footer1 h3{ display:block; width:50px; height:26px; text-align:center; line-height:26px; float:left; font-size:12px; color:#333;}
.p15{ display:block; width:146px; height:26px; float:right; color:#cccccc; text-align:center; line-height:26px;}
.footer2{ width:960px; height:63px; border-bottom:1px solid #d9d9d9;}
.p16{ color:#cccccc; letter-spacing:1px; line-height:20px; padding-top:13px;}
.footer3{ width:960px; height:179px;}
.p17{ line-height:43px; display:block; width:960px; height:43px; text-align:center; color:#999999;}
.span1{ display:block; width:960px; height:71px;}
.ul12{ text-align:center; padding-top:9px;}
.ul12 li{ line-height:24px; color:#999999;}
.span2{ display:block; width:960px; height:65px;}

.ipt{ display:block; width:630px; height:49px;}
input[type="radio"]{ line-height:30px; margin-right:5px; margin-left:23px;}
.p18{ width:201px; height:32px; display:block; float:left;}
input.txt{ width:201px; height:32px; border:1px solid #ccc; background:url(../images/ipt1.png); margin-left:47px;}
input.txt1{ width:169px; height:30px; border:1px solid #ccc; margin-left:5px;}
input.btn{ width:91px; height:32px; background:#0198f1; color:#fff; margin-left:102px;}
input.btn1{ width:91px; height:32px; background:#ececec; color:#000; margin-left:15px;}